*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
}


.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin: 20px;
    padding: 5px;
    border: 2px dashed white;
}

.child{
    background-color: orange;
    text-align: center;
}

.child-4{
    background-color: teal;
    grid-column: span 2;
    grid-row: span 2;
}
.child-18{
    background-color: teal;
    grid-column: span 2;
    grid-row: span 2;
}